@-moz-document url-prefix("https://discord.com/channels/") {
	    /* Insert code here... */
	:root {
		        --font-primary: "Jost* 300 Light" !important;
						        --font-display: "ABC Ginto Normal", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
										        --font-headline: "ABC Ginto Nord", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
														        --font-code: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace !important;
																		        --font-korean: Whitney, "Apple SD Gothic Neo", NanumBarunGothic, "맑은 고딕", "Malgun Gothic", Gulim, 굴림, Dotum, 돋움, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
																						        --font-japanese: Whitney, "Hiragino Sans", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", メイリオ, Meiryo, Osaka, "MS PGothic", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
																										        --font-chinese-simplified: Whitney, "Microsoft YaHei New", 微软雅黑, "Microsoft Yahei", "Microsoft JhengHei", 宋体, SimSun, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
																														        --font-chinese-traditional: Whitney, "Microsoft JhengHei", 微軟正黑體, "Microsoft JhengHei UI", "Microsoft YaHei", 微軟雅黑, 宋体, SimSun, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
																																		    
	}

	.theme-dark {
		        --header-primary: hsl(0, calc(var(--saturation-factor, 1)*0%), 100%);
						        --header-secondary: hsl(216, calc(var(--saturation-factor, 1)*3.7%), 73.5%);
										        --text-normal: #e5e5e0;
														        --text-muted: hsl(214, calc(var(--saturation-factor, 1)*4%), 65.3%);
																		        --text-link: hsl(197, calc(var(--saturation-factor, 1)*100%), 47.8%);
																						        --text-link-low-saturation: hsl(197, calc(var(--saturation-factor, 1)*100%), 52.9%);
																										        --text-positive: hsl(139, calc(var(--saturation-factor, 1)*51.6%), 52.2%);
																														        --text-warning: hsl(38, calc(var(--saturation-factor, 1)*95.7%), 54.1%);
																																		        --text-danger: hsl(359, calc(var(--saturation-factor, 1)*82%), 73.9%);
																																						        --text-brand: hsl(235, calc(var(--saturation-factor, 1)*86.1%), 77.5%);
																																										        --interactive-normal: hsl(216, calc(var(--saturation-factor, 1)*3.7%), 73.5%);
																																														        --interactive-hover: hsl(210, calc(var(--saturation-factor, 1)*2.9%), 86.7%);
																																																		        --interactive-active: hsl(0, calc(var(--saturation-factor, 1)*0%), 100%);
																																																						        --interactive-muted: hsl(217, calc(var(--saturation-factor, 1)*7.6%), 33.5%);
																																																										        --background-primary: #36454F !important;
																																																														        --background-secondary: #242f36 !important;
																																																																		        --background-secondary-alt: #36454F !important;
																																																																						        --background-tertiary: hsl(216, calc(var(--saturation-factor, 1)*7.2%), 13.5%);
																																																																										        --background-floating: hsl(225, calc(var(--saturation-factor, 1)*7.7%), 10.2%);
																																																																														        --background-nested-floating: hsl(223, calc(var(--saturation-factor, 1)*6.9%), 19.8%);
																																																																																		        --background-mobile-primary: hsl(220, calc(var(--saturation-factor, 1)*7.7%), 22.9%);
																																																																																						        --background-mobile-secondary: hsl(223, calc(var(--saturation-factor, 1)*6.9%), 19.8%);
																																																																																										        --chat-background: hsl(220, calc(var(--saturation-factor, 1)*7.7%), 22.9%);
																																																																																														    
	}

	.channelTextArea-1FufC0 {
		        border: 1px solid #e5e5e0 !important;
						        background-color: black !important;
										    
	}
	.chatContent-3KubbW {
		        border: 1px solid #b8b8b4 !important;
						        border-top: 0px !important;
										        border-bottom: 0px !important;
														    
	}
	.peopleColumn-1wMU14 {
		        background-color: #36454F;
						    
	}
	.scrollableContainer-15eg7h {
		        background-color: #242f36 !important;
						    
	}
	::selection {
		        background-color: #e5e5e0;
						        color: #36454f;
										    
	}
	
}
