/* Notification center */
.blurredBG, #main_window, .blurredBG.low, .blurredBG.normal {
      background: rgba(15, 17, 18, 1.0);
      color: #ffffff;
      border: 1px solid rgba(235, 219, 178, 1);
}
.noti-center.time {
      font-family: monospace;
      font-size: 32px;
      text-decoration: underline;
      padding-top: 15px;
      padding-left: 15px;
}
label.deadd-noti-center.date {
      font-family: monospace;
      font-size: 12px;
      padding-left: 15px;
}

/* Notifications */
.title {
      font-weight: bold;
      font-size: 14px;
}
.appname {
      font-size: 12px;
}
.time {
      font-size: 12px;
}
.blurredBG.notification {
      background:  rgba(235, 219, 178, 1.0);
      border: 2px solid #458588;
}
.blurredBG.notification.critical {
      background: rgba(255, 0, 0, 1.0);
}
.notificationInCenter.critical {
      background: rgba(155, 0, 20, 1.0);
}

/* Labels */
label {
      color: #ffffff;
}
label.notification {
      color: #322;
}
label.critical {
      color: #000;
}
.notificationInCenter label.critical {
      color: #000;
}

/* Buttons */
button {
      background: transparent;
      color: #523f3f;
      border-radius: 3px;
      border-width: 0px;
      background-position: 0px 0px;
      text-shadow: none;
}
button:hover {
      border-radius: 3px;
      background: rgba(0, 20, 20, 0.2);
      border-width: 0px;
      border-top: transparent;
      border-color: #f00;
      color: #fee;
}

/* Custom Buttons */
.userbutton {
      background: rgba(20,0,0, 0.15);
      border: 1px solid #dbb8b8;
}
.userbuttonlabel {
      color: #9c8484;
      font-size: 12px;
      padding-bottom: 5px;
}
.userbutton:hover {
      background: rgba(181, 136, 136, 0.2);
      border: 1px solid #dbb8b8;
}
.userbuttonlabel:hover {
      color: #111;
}
button.buttonState1 {
      background: rgba(20,0,0,0.5);
}
.userbuttonlabel.buttonState1 {
      color: #fff;
}
button.buttonState1:hover {
      background: rgba(20,0,0, 0.4);
}
.userbuttonlabel.buttonState1:hover {
      color: #111;
}
button.buttonState2 {
      background: rgba(255,255,255,0.3);
}
.userbuttonlabel.buttonState2 {
      color: #111;
}
button.buttonState2:hover {
      background: rgba(20,0,0, 0.3);
}
.userbuttonlabel.buttonState2:hover {
      color: #000;
}

/* Images */
image.deadd-noti-center.notification.image {
      margin-left: 20px;
}

/* Notification body and title */
label.deadd-noti-center.notification.title {
      text-decoration: underline;
}
