:root {
	--font-primary: comic mono;
  --font-display: "ABC Ginto Normal","Helvetica Neue",Helvetica,Arial,sans-serif;
  --font-headline: "ABC Ginto Nord","Helvetica Neue",Helvetica,Arial,sans-serif;
  --font-code: Consolas,"Andale Mono WT","Andale Mono","Lucida Console","Lucida Sans Typewriter","DejaVu Sans Mono","Bitstream Vera Sans Mono","Liberation Mono","Nimbus Mono L",Monaco,"Courier New",Courier,monospace;
  --font-korean: Whitney,"Apple SD Gothic Neo",NanumBarunGothic,"맑은 고딕","Malgun Gothic",Gulim,굴림,Dotum,돋움,"Helvetica Neue",Helvetica,Arial,sans-serif;
  --font-japanese: Whitney,"Hiragino Sans","ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN",メイリオ,Meiryo,Osaka,"MS PGothic","Helvetica Neue",Helvetica,Arial,sans-serif;
  --font-chinese-simplified: Whitney,"Microsoft YaHei New",微软雅黑,"Microsoft Yahei","Microsoft JhengHei",宋体,SimSun,"Helvetica Neue",Helvetica,Arial,sans-serif;
  --font-chinese-traditional: Whitney,"Microsoft JhengHei",微軟正黑體,"Microsoft JhengHei UI","Microsoft YaHei",微軟雅黑,宋体,SimSun,"Helvetica Neue",Helvetica,Arial,sans-serif;

}

.theme-light {
	--header-primary: #060607;
  --header-secondary: #4f5660;
  --text-normal: #5c6a72;
  --text-muted: #5e6772;
  --text-link: hsl(212,calc(var(--saturation-factor, 1)*100%),43.9%);
  --text-link-low-saturation: hsl(212,calc(var(--saturation-factor, 1)*100%),43.9%);
  --text-positive: hsl(139,calc(var(--saturation-factor, 1)*47.1%),33.3%);
  --text-warning: hsl(38,calc(var(--saturation-factor, 1)*81.5%),31.8%);
  --text-danger: hsl(359,calc(var(--saturation-factor, 1)*56.3%),40.4%);
  --text-brand: hsl(235,calc(var(--saturation-factor, 1)*85.6%),64.7%);
  --interactive-normal: #4f5660;
  --interactive-hover: #2e3338;
  --interactive-active: #060607;
  --interactive-muted: #c7ccd1;
  --background-primary: #fdf6e3;
  --background-secondary: #ede6d3;
  --background-secondary-alt: #fdf6e3;
  --background-tertiary: #fdf6e3;
  --background-accent: #6a7480;
  --background-floating: #fff;
  --background-nested-floating: #fff;
  --background-mobile-primary: #f8f9f9;
  --background-mobile-secondary: #fff;
  --chat-background: #fff;
  --chat-border: #dcddde;
  --chat-input-container-background: #fff;
  --background-modifier-hover: rgba(106,116,128,0.16);
  --background-modifier-active: rgba(106,116,128,0.2);
  --background-modifier-selected: rgba(106,116,128,0.24);
  --background-modifier-accent: rgba(106,116,128,0.24);
  --info-positive-background: hsla(139,calc(var(--saturation-factor, 1)*47.4%),38%,0.05);
  --info-positive-foreground: hsl(139,calc(var(--saturation-factor, 1)*47.4%),38%);
  --info-positive-text: #000;
  --info-warning-background: hsla(38,calc(var(--saturation-factor, 1)*80.9%),36.9%,0.1);
  --info-warning-foreground: hsl(38,calc(var(--saturation-factor, 1)*80.9%),36.9%);
  --info-warning-text: #000;
  --info-danger-background: hsla(359,calc(var(--saturation-factor, 1)*66.7%),54.1%,0.1);
  --info-danger-foreground: hsl(359,calc(var(--saturation-factor, 1)*66.7%),54.1%);
  --info-danger-text: #000;
  --info-help-background: hsla(212,calc(var(--saturation-factor, 1)*100%),43.9%,0.1);
  --info-help-foreground: hsl(212,calc(var(--saturation-factor, 1)*100%),43.9%);
  --info-help-text: #000;
  --status-positive-background: hsl(139,calc(var(--saturation-factor, 1)*47.1%),33.3%);
  --status-positive-text: #fff;
  --status-warning-background: hsl(38,calc(var(--saturation-factor, 1)*80.9%),36.9%);
  --status-warning-text: #fff;
  --status-danger-background: hsl(359,calc(var(--saturation-factor, 1)*66.7%),54.1%);
  --status-danger-text: #fff;
  --status-danger: hsl(359,calc(var(--saturation-factor, 1)*66.7%),54.1%);
  --status-positive: hsl(139,calc(var(--saturation-factor, 1)*47.4%),38%);
  --status-warning: hsl(38,calc(var(--saturation-factor, 1)*80.9%),36.9%);
  --button-danger-background: hsl(359,calc(var(--saturation-factor, 1)*66.7%),54.1%);
  --button-danger-background-hover: hsl(359,calc(var(--saturation-factor, 1)*56.3%),40.4%);
  --button-danger-background-active: hsl(359,calc(var(--saturation-factor, 1)*56.4%),35.1%);
  --button-danger-background-disabled: hsl(359,calc(var(--saturation-factor, 1)*66.7%),54.1%);
  --button-positive-background: hsl(139,calc(var(--saturation-factor, 1)*47.1%),33.3%);
  --button-positive-background-hover: hsl(138,calc(var(--saturation-factor, 1)*46.8%),24.3%);
  --button-positive-background-active: hsl(138,calc(var(--saturation-factor, 1)*46.9%),22.2%);
  --button-positive-background-disabled: hsl(139,calc(var(--saturation-factor, 1)*47.1%),33.3%);
  --button-secondary-background: #6a7480;
  --button-secondary-background-hover: #4f5660;
  --button-secondary-background-active: #444b53;
  --button-secondary-background-disabled: #6a7480;
  --button-outline-danger-text: #000;
  --button-outline-danger-border: hsl(359,calc(var(--saturation-factor, 1)*66.7%),54.1%);
  --button-outline-danger-background: hsla(0,0%,100%,0);
  --button-outline-danger-background-hover: hsl(359,calc(var(--saturation-factor, 1)*66.7%),54.1%);
  --button-outline-danger-text-hover: #fff;
  --button-outline-danger-border-hover: hsl(359,calc(var(--saturation-factor, 1)*66.7%),54.1%);
  --button-outline-danger-background-active: hsl(359,calc(var(--saturation-factor, 1)*56.7%),48%);
  --button-outline-danger-text-active: #fff;
  --button-outline-danger-border-active: hsl(359,calc(var(--saturation-factor, 1)*66.7%),54.1%);
  --button-outline-positive-text: #000;
  --button-outline-positive-border: hsl(139,calc(var(--saturation-factor, 1)*47.4%),38%);
  --button-outline-positive-background: hsla(0,0%,100%,0);
  --button-outline-positive-background-hover: hsl(139,calc(var(--saturation-factor, 1)*47.1%),33.3%);
  --button-outline-positive-text-hover: #fff;
  --button-outline-positive-border-hover: hsl(139,calc(var(--saturation-factor, 1)*47.1%),33.3%);
  --button-outline-positive-background-active: hsl(138,calc(var(--saturation-factor, 1)*46.8%),24.3%);
  --button-outline-positive-text-active: #fff;
  --button-outline-positive-border-active: hsl(138,calc(var(--saturation-factor, 1)*46.8%),24.3%);
  --button-outline-brand-text: #000;
  --button-outline-brand-border: hsl(235,calc(var(--saturation-factor, 1)*85.6%),64.7%);
  --button-outline-brand-background: hsla(0,0%,100%,0);
  --button-outline-brand-background-hover: hsl(235,calc(var(--saturation-factor, 1)*85.6%),64.7%);
  --button-outline-brand-text-hover: #fff;
  --button-outline-brand-border-hover: hsl(235,calc(var(--saturation-factor, 1)*85.6%),64.7%);
  --button-outline-brand-background-active: hsl(235,calc(var(--saturation-factor, 1)*51.4%),52.4%);
  --button-outline-brand-text-active: #fff;
  --button-outline-brand-border-active: hsl(235,calc(var(--saturation-factor, 1)*51.4%),52.4%);
  --button-outline-primary-text: #000;
  --button-outline-primary-border: #6a7480;
  --button-outline-primary-background: hsla(0,0%,100%,0);
  --button-outline-primary-background-hover: #6a7480;
  --button-outline-primary-text-hover: #fff;
  --button-outline-primary-border-hover: #6a7480;
  --button-outline-primary-background-active: #4f5660;
  --button-outline-primary-text-active: #fff;
  --button-outline-primary-border-active: #4f5660;
  --modal-background: #000;
  --modal-footer-background: #f2f3f5;
  --scrollbar-thin-thumb: rgba(79,84,92,0.3);
  --scrollbar-thin-track: transparent;
  --scrollbar-auto-thumb: #ccc;
  --scrollbar-auto-track: #f2f2f2;
  --scrollbar-auto-scrollbar-color-thumb: #e3e5e8;
  --scrollbar-auto-scrollbar-color-track: #f2f3f5;
  --input-background: #e3e5e8;
  --input-placeholder-text: #5e6772;
  --elevation-stroke: 0 0 0 1px rgba(6,6,7,0.08);
  --elevation-low: 0 1px 0 rgba(6,6,7,0.1),0 1.5px 0 rgba(6,6,7,0.025),0 2px 0 rgba(6,6,7,0.025);
  --elevation-medium: 0 4px 4px rgba(0,0,0,0.08);
  --elevation-high: 0 8px 16px rgba(0,0,0,0.16);
  --logo-primary: hsl(235,calc(var(--saturation-factor, 1)*85.6%),64.7%);
  --control-brand-foreground: hsl(235,calc(var(--saturation-factor, 1)*85.6%),64.7%);
  --control-brand-foreground-new: hsl(235,calc(var(--saturation-factor, 1)*85.6%),64.7%);
  --background-mentioned: hsla(38,calc(var(--saturation-factor, 1)*95.7%),54.1%,0.1);
  --background-mentioned-hover: hsla(38,calc(var(--saturation-factor, 1)*95.7%),54.1%,0.2);
  --background-message-hover: rgba(6,6,7,0.02);
  --background-message-automod: hsla(359,calc(var(--saturation-factor, 1)*82.6%),59.4%,0.05);
  --background-message-automod-hover: hsla(359,calc(var(--saturation-factor, 1)*82.6%),59.4%,0.1);
  --channels-default: #5e6772;
  --channel-icon: #6a7480;
  --channel-text-area-placeholder: #747f8d;
  --guild-header-text-shadow: 0 1px 1px hsla(0,0%,100%,0.4);
  --channeltextarea-background: #fdf6e3;
  --activity-card-background: #fff;
  --textbox-markdown-syntax: #6a7480;
  --spoiler-revealed-background: #ebedef;
  --spoiler-hidden-background: #e3e5e8;
  --android-navigation-bar-background: #f8f9f9;
  --deprecated-card-bg: #f8f9f9;
  --deprecated-card-editable-bg: rgba(246,246,247,0.6);
  --deprecated-store-bg: #f8f9f9;
  --deprecated-quickswitcher-input-background: #fff;
  --deprecated-quickswitcher-input-placeholder: rgba(79,84,92,0.3);
  --deprecated-text-input-bg: #e3e5e8;
  --deprecated-text-input-border: rgba(79,84,92,0.3);
  --deprecated-text-input-border-hover: #b9bbbe;
  --deprecated-text-input-border-disabled: #dcddde;
  --deprecated-text-input-prefix: #b9bbbe;
}

.channelTextArea-1FufC0 {
	border: 1px solid black;
}
.chatContent-3KubbW {
  border: 1px solid black;
  border-bottom: 0px;
}
