@define-color fg		rgba(73, 82, 67, 1.0);
@define-color bg		rgba(255, 255, 255, 0.7);
@define-color border	rgba(181, 217, 156, 0.60);
@define-color critical	rgba(189, 74, 74, 1.0);

* {
	font-family: "JetBrains Mono";
	font-size: 10px;
	color: @fg;
}

/* Main bar container */
window#waybar {
	background-color: @bg;
	border: 2px solid @border;
	border-radius: 6px;
}

/* Generic module box */
#custom-gpu-temp,
#window,
#clock, #custom-time,
#custom-date,
#custom-menu,
#custom-power,
#battery,
#pulseaudio,
#network,
#temperature,
#workspaces,
#tray,
#memory,
#bluetooth,
#backlight {
	padding: 6px 4px;
	margin: 1px 6px;
	background-color: @bg;
	border-radius: 6px;
	border: 1px solid @border;
}
#network {
	margin-top: 12px;
}
#custom-date {
	margin-bottom: 12px;
}
#custom-menu, #custom-power {
	font-size: 16px;
}

#temperature.critical {
	color: @critical;
	border-color: @critical;
}
#custom-gpu-temp.critical {
	color: @critical;
	border-color: @critical;
}
