@import "./monochrome.css";

* {
  border: none;
  border-radius: 0;
  font-family: "DS";
  font-size: 12px;
  min-height: 0;
}

window#waybar {
  background: rgba(21, 18, 27, 0);
  color: @fg;
}

tooltip {
  background: @bg0;
  border-radius: 4px;
  border-width: 2px;
  border-style: solid;
  border-color: @fg;
}

#workspaces button {
  padding: 5px;
  color: @fg;
  background: @bg0;
  border-color: @fg;
  margin-right: 5px;
}

#workspaces button.active {
  color: @fg;
  background: @bg0;
}

#workspaces button.focused {
  color: @fg;
  background: @bg0;
  border-radius: 8px;
}
#workspaces button.unfocused {
	background: @bg0;
}

#workspaces button.urgent {
  border-radius: 8px;
}

#workspaces button:hover {
  background: @bg0;
  border-radius: 8px;
}

#custom-power_profile,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#bluetooth,
#temperature,
#workspaces,
#tray,
#memory,
#custom-arp_hosts,
#backlight {
  background: @bg0;
  opacity: 0.9;
  padding: 0px 10px;
  margin: 3px 0px;
  margin-top: 15px;
  border: 1px solid @fg;
}

#custom-arp_hosts {
	margin-left: 10px;
}

#memory {
  border-left: 0px;
  border-right: 0px;
}

#temperature {
  border-left: 0px;
  border-right: 0px;
}

#temperature.critical {
  border-left: 0px;
  border-right: 0px;
}

#backlight {
  border-radius: 0px;
  margin-right: 24px;
}

#tray {
  border-radius: 0px;
  margin-left: 10px;
  margin-right: 0px;
}

#workspaces {
  background: @bg0;
  border-radius: 0px;
  margin-left: 10px;
  padding-right: 0px;
  padding-left: 5px;
}

#custom-power_profile {
  border-left: 0px;
  border-right: 0px;
}

#window {
  border-radius: 0px;
  margin-left: 60px;
  margin-right: 60px;
}

window#waybar.empty {
}

window#waybar.empty #window {
}

#custom {
	border: 1px solid black;
}

#clock {
  color: @fg;
  background: @bg0;
  border-radius: 0px;
  margin-left: 24px;
}

#network {
  border-radius: 0px;
  border-right: 0px;
}

#pulseaudio {
  border-radius: 0px;
  border-right: 0px;
}

#battery {
  border-radius: 0px;
  margin-right: 10px;
  border-left: 0px;
}
