:root {
	--dark_color1: #30333d;
	--dark_color2: #292b34;
	--dark_color3: #585e74;
	--dark_color4: #30333d;

	--word_color1: #ccaced;
	--word_color2: #c0c0c0;
	--word_color3: #dfd7d7;

	--light_color1: #e1e0e6;
	--light_color2: #adabb9;
	--light_color3: #9795a3;
	--light_color4: #878492;

	--other_color1: #332e56;
	--other_color2: #4b4757;
	--other_color3: #33313c;
	--color-fg: #000000;
	--color-bg: #ffffff;
}
@font-face {
	font-family: "Jost Light";
	src: url("../fonts/Jost-Light.ttf");
}
@font-face {
	font-family: "Major Mono Display";
	src: url("../fonts/MajorMonoDisplay-Regular.ttf");
}
@font-face {
	font-family: "Redhat Mono";
	src: url("../fonts/RedHatMono-Regular.ttf")
}
#digital-clock {
	color: var(--color-fg);
	background-color: var(--color-bg);
	text-align: center;
	font-family: "Redhat Mono";
	font-size: 40pt;
	font-weight: Bolder;
	border-radius: 15px;
	padding: 30px;
	margin: 30px auto 0px auto;
}
body {
	background-color: var(--color-bg);
	font-family: "EB Garamond";
}
h1 {
	color: var(--color-fg);
	text-align: center;
	padding-top: 100px;
	padding-bottom: 25px;
}
h2 {
	font-weight: bold;
}
a:link,a:visited {
	text-decoration: none;
	color: black;
}
a:hover {
	color: #999999;
}
.group-list {
	border: 2px solid black;
	border-radius: 15px;
	padding: 10px;
	margin-bottom: 15px;
}
