@font-face {
	font-family: "jost 300 light";
	src: url("/fonts/Jost-300-Light.ttf")
}
@font-face {
	font-family: "drafting mono";
 	src: url("/fonts/DraftingMono-Regular.ttf")
}
h1 {
	font-size: 20px;
	margin-top: 10px;
}
h2 {
	font-size: 14px;
	text-align: center;
}
p {
	font-size 14px;
}

.container {
	font-family: "jost 300 light";
	padding-top: 50px;
}

.cookbook {

}
.cookbook h1 {
	padding-bottom: 25px;
}
.cookbook h2 {
	font-size: 16px;
	text-align: left;
}
.cookbook p {
	padding: 0px 0px 0px 10px;
	border-left: 5px solid #e6e6e6; 
	border-right: 0px;
}
.cookbook ul {
	list-style-type: circle;
}
.cookbook ol {
	list-style-type: decimal;
}
.cookbook a, .cookbook a:visited {
	color: #3b3b3b;
}

.journal {
	margin: 20px;
	padding: 0px 20px 0px 20px;
}
.journal a, .journal a:visited {
	color: #3b3b3b;
}
.journal h2 {
	font-family: "drafting mono";
}
.journal p {
	padding: 0px 30px 0px 30px;
	text-align: justify;
	text-justify: inter-word;
	border-right: 1px solid black; 
	border-left: 1px solid black; 
	border-color: black; 
}

.toc {
	font-size: 14;
	padding: 0px 50px 0px 50px;
	border-right: 1px solid #e6e6e6;
	border-left: 1px solid #e6e6e6;
}
.toc a, .toc a:visited {
	color: #3b3b3b;
	text-decoration: none;
}
.toc ol {
	list-style-type: upper-roman;
}
