prefer-no-csd
debug {
	emulate-zero-presentation-time
}
hotkey-overlay {
	skip-at-startup
}
environment {
	ELECTRON_OZONE_PLATFORM_HINT "wayland"
	QT_QPA_PLATFORM "wayland"
	QT_QPA_PLATFORMTHEME "qt6ct"
}

screenshot-path "~/Pictures/Screenshots/Screenshot_from_%Y-%m-%d_%H-%M-%S.png"

animations {
	horizontal-view-movement {
		spring damping-ratio=1.0 stiffness=1000 epsilon=0.0001
	}
}

layer-rule {
	// match namespace="^launcher$"
	// baba-is-float true
	match namespace="^wallpaper$"
	place-within-backdrop true
}
overview {
	zoom 0.75
	workspace-shadow {
		// off
	}
}

cursor {
	xcursor-theme "phinger-cursors-light"
	xcursor-size 24
}

input {
	keyboard {
		xkb {
		}
	}
	mouse {
		// natural-scroll
		accel-speed -0.3
		accel-profile "flat"
	}
	// focus-follows-mouse
	touchpad {
		tap
		natural-scroll
	}
}

/////////////
// SCREENS //
/////////////
//// top
output "DP-4" {
	// off
	mode "2560x1440@119.998"
	scale 1.0
	transform "normal"
	position x=0 y=0
}
//// bottom
output "DP-3" {
	mode "2560x1440@119.998"
	scale 1.0
	transform "normal"
	position x=0 y=1440
}
//// laptop
output "eDP-1" {
	mode "1920x1080@59.996"
	scale 1.0
	transform "normal"
	position x=0 y=0
}
//// tv
output "HDMI-A-5" {
	off
	mode "3840x2160@60.000"
	scale 2.0
	transform "normal"
	position x=-3840 y=1440
}

////////////////
// APPEARANCE //
////////////////
layout {
	background-color "transparent"
	tab-indicator {
		width 5
		gap 9
		gaps-between-tabs 15
		length total-proportion=0.10
		place-within-column
		active-color   "#eceff4"
		inactive-color "#4c566a"
		urgent-color   "#bf616a"
	}
	gaps 20
	center-focused-column "never"
	shadow {
		on
		softness 0
		spread 4
		offset x=6 y=6
		color          "#444444"
		inactive-color "#444444"
	}
	preset-column-widths {
		proportion 0.4
		proportion 0.6
	}
	default-column-width { proportion 0.6; }
	focus-ring {
		width 2
		inactive-color "#000000"
		active-color   "#0077cc"
	}
	border {
		off
		width 1
		active-color   "#000000"
		inactive-color "#000000"
	}
	struts {
		top     0
		bottom  0
		left    -10
	}
}
window-rule {
	geometry-corner-radius 1
	clip-to-geometry true
}
//// Blur
blur {
	passes 3
	offset 0.8
	saturation 2.0
	noise 0.0
}
window-rule {
	background-effect {
		blur true
	}
}
layer-rule {
	match namespace="^waybar$|^notifications$|^dms:bar$"
	background-effect {
		blur true
		xray false
		saturation 1.0
	}
}
window-rule {
	match app-id="com.mitchellh.ghostty|[tT]hunar"
	match title="foot"
	background-effect {
		blur true
		// xray false
	}
}

//////////////////////////
// STARTUP APPLICATIONS //
//////////////////////////
spawn-at-startup "udiskie" "-s"
spawn-at-startup "blueman-applet"
spawn-at-startup "nm-applet"
spawn-at-startup "swayidle" "-w" "before-sleep" "'swaylock'"


window-rule {
	match app-id=r#"org.quickshell$"#
	match app-id=r#"com.danklinux.dms$"#
	open-floating true
}
layer-rule {
	match namespace="^launcher$"
	background-effect {
		blur true
	}
}

//
// Window Rules
//
// main steam window
window-rule {
	match title="Steam"
	default-column-width { proportion 0.6; }
}
// steam game properties window
window-rule {
	match app-id="steam"
	exclude title="Steam"
	default-column-width { proportion 0.4; }
}
// steam games fullscreen
window-rule {
	match title="steam_app_976730"
	open-fullscreen true
}
// browsers
window-rule {
	match title="Firefox|Vivaldi"
	match app-id="google-chrome|zen|Microsoft-edge"
	default-column-width { proportion 0.60; }
}
window-rule {
	match title="foot|Spotify*"
	match app-id="com.mitchellh.ghostty|udiskie|neovide|foot"
	default-column-width { proportion 0.40; }
}

//////////////////////
// FLOATING WINDOWS //
//////////////////////
//// long
window-rule {
	match title="Steam Settings|Friends List|Winetricks|REDlauncher|Library"
	match app-id="udiskie|blueman-manager|Jitsi|pavucontrol|neovide|org.gnome.Papers|org.prismlauncher.PrismLauncher|foot"
	open-floating true
	default-column-width { proportion 0.4; }
	default-window-height { proportion 0.8; }
}
//// short
window-rule {
	match title="File Upload|login|Rockstar Games Launcher|Minecraft: NeoForge Loading..."
	match app-id="xdg-desktop-portal-gtk|org.gnome.Nautilus|dolphin|org.gnome.Loupe|swayimg|[tT]hunar|org.gnome.Totem|org.gnome.tweaks|vlc|nemo|pcmanfm-qt"
	default-column-width  { proportion 0.5; }
	default-window-height { proportion 0.5; }
	open-floating true
}
//// utilities
window-rule {
	match app-id=r#"^org\.gnome\.Calculator$"#
	match app-id=r#"^gnome-calculator$"#
	match app-id=r#"^galculator$"#
	match app-id=r#"^blueman-manager$"#
	match app-id=r#"^org\.gnome\.Nautilus$"#
	match app-id=r#"^xdg-desktop-portal$"#
	open-floating true
}
//// Ark
////// Main window
window-rule {
	match app-id="org.kde.ark"
	exclude title="Extracting Files*Ark"
	open-floating true
	default-column-width { proportion 0.3; }
	default-window-height { proportion 0.6; }
}
////// Progress window
window-rule {
	match title="Extracting Files" app-id="org.kde.ark"
	open-focused false
	open-floating true
	default-column-width { proportion 0.3; }
	default-window-height { proportion 0.2; }
	default-floating-position x=0 y=32 relative-to="top-right"
}
//// Mod Manager
window-rule {
	match title="Quick Install|Mod Exists|steam_app_489830"
	default-column-width  { proportion 0.5; }
	default-window-height { proportion 0.5; }
	open-floating true
}
//// Sign-in windows
window-rule {
	match title="cta|CTA|sso|SSO|[gG]oogle|sign_in|continue|Authview|figma|account|user|content|Sign in|Google|Connecting|about:blank|account|blank|Clicked"
	match app-id="Jitsi"
	default-column-width  { proportion 0.2; }
	default-window-height { proportion 0.2; }
	open-floating true
}
//// Steam pop-up windows
window-rule {
	match app-id="steam"
	default-floating-position x=25 y=25 relative-to="bottom-right"
}

/////////////////////////
// MONITOR ASSIGNMENTS //
/////////////////////////
//// top monitor
window-rule {
	match app-id="discord"
	open-on-output "DP-4"
	default-column-width { proportion 1.0; }
}
//// bottom monitor
window-rule {
	match title="Steam"
	open-on-output "DP-3"
}
//// block from stream
window-rule {
	match title="[wW]eather.com|[lL]ogin|Google Messages for web|GroupMe|Google Photos|Gmail"
	block-out-from "screencast"
}

/////////////////
// KEYBINDINGS //
/////////////////
binds {
	Super+Return { spawn "bash" "-c" "ghostty"; }
	Super+D { spawn "vicinae" "toggle"; }
	Super+F12 { spawn "pavucontrol" "-t" "1"; }
	Super+e { spawn "pcmanfm-qt"; }
	Ctrl+Alt+Delete { spawn "vicinae" "vicinae://launch/power"; }
	Ctrl+Super+Shift+P { spawn "/home/sven/.config/niri/screen.sh"; }

	Super+1 { spawn "helium"; }
	Super+2 { spawn "discord"; }
	Super+3 { spawn "flatpak" "run" "com.valvesoftware.Steam"; }

	Ctrl+Print {
		spawn "sh" "-c" r#"
		file=~/Videos/recordings/"$(date +%s)".mp4
		wf-recorder -r 60 --bframes 0 -g "$(slurp -b '#00000090' -w 0)" -f "$file"
		wl-copy file:/"$file" -t text/uri-list
		"#;
	}
	Ctrl+Escape { spawn "killall" "-s" "SIGINT" "wf-recorder"; }

	XF86AudioRaiseVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.01+"; }
	XF86AudioLowerVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.01-"; }
	XF86AudioMute        allow-when-locked=true { spawn "wpctl" "set-mute"   "@DEFAULT_AUDIO_SINK@" "toggle"; }
	XF86AudioMicMute     allow-when-locked=true { spawn "wpctl" "set-mute"   "@DEFAULT_AUDIO_SOURCE@" "toggle"; }

	Super+Shift+Q { close-window; }
	Super+Tab { toggle-overview; }
	Super+H { focus-column-left; }
	Super+J { focus-window-or-monitor-down; }
	Super+K { focus-window-or-monitor-up; }
	Super+L { focus-column-right; }
	Super+WheelScrollUp { focus-window-or-monitor-up; }
	Super+WheelScrollDown { focus-window-or-monitor-down; }
	Super+WheelScrollLeft { focus-column-left; }
	Super+WheelScrollRight { focus-column-right; }
	Super+Shift+n { move-window-to-monitor-next; }
	Super+Shift+p { move-window-to-monitor-previous; }
	Super+Shift+H { move-column-left-or-to-monitor-left; }
	Super+Shift+J { move-window-down; }
	Super+Shift+K { move-window-up; }
	Super+Shift+L { move-column-right-or-to-monitor-right; }
	Super+n { focus-monitor-next; }
	Super+p { focus-monitor-previous; }
	Super+Page_Down{ focus-workspace-down; }
	Super+Page_Up { focus-workspace-up; }
	Super+Shift+Page_Down { move-workspace-down; }
	Super+Shift+Page_Up   { move-workspace-up; }
	Alt+C { center-column; }
	Alt+BracketLeft  { consume-or-expel-window-left; }
	Alt+BracketRight { consume-or-expel-window-right; }
	Super+F { maximize-column; }
	F11 { fullscreen-window; }
	Shift+F11 { toggle-windowed-fullscreen; }
	Super+Minus { set-column-width "-20%"; }
	Super+Equal { set-column-width "+20%"; }
	Super+R { switch-preset-column-width; }
	Super+Space { switch-focus-between-floating-and-tiling; }
	Super+Shift+Space { toggle-window-floating; }
	Super+Shift+E { quit; }

	// Screenshotting
	Print { screenshot; }
	Shift+Print { screenshot-screen; }
	Super+Print { screenshot-window; }
}


include "dms/outputs.kdl"
// include "dms/binds.kdl"

// include "dms/cursor.kdl"
