@-moz-document domain("discord.com") {
	:root {
		--font-primary: comic mono !important;
	  	--font-display: "ABC Ginto Normal","Helvetica Neue",Helvetica,Arial,sans-serif !important;
	  	--font-headline: "ABC Ginto Nord","Helvetica Neue",Helvetica,Arial,sans-serif !important;
	  	--font-code: Consolas,"Andale Mono WT","Andale Mono","Lucida Console","Lucida Sans Typewriter","DejaVu Sans Mono","Bitstream Vera Sans Mono","Liberation Mono","Nimbus Mono L",Monaco,"Courier New",Courier,monospace !important;
	  	--font-korean: Whitney,"Apple SD Gothic Neo",NanumBarunGothic,"맑은 고딕","Malgun Gothic",Gulim,굴림,Dotum,돋움,"Helvetica Neue",Helvetica,Arial,sans-serif !important;
	  	--font-japanese: Whitney,"Hiragino Sans","ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN",メイリオ,Meiryo,Osaka,"MS PGothic","Helvetica Neue",Helvetica,Arial,sans-serif !important;
	  	--font-chinese-simplified: Whitney,"Microsoft YaHei New",微软雅黑,"Microsoft Yahei","Microsoft JhengHei",宋体,SimSun,"Helvetica Neue",Helvetica,Arial,sans-serif !important;
	  	--font-chinese-traditional: Whitney,"Microsoft JhengHei",微軟正黑體,"Microsoft JhengHei UI","Microsoft YaHei",微軟雅黑,宋体,SimSun,"Helvetica Neue",Helvetica,Arial,sans-serif !important;
	
	}
	
	.theme-light {
	  --header-primary: #060607 !important;
	  --header-secondary: #4f5660 !important;
	  --text-normal: #5c6a72 !important;
	  --text-muted: #5e6772 !important;
	  --text-link: hsl(212,calc(var(--saturation-factor, 1)*100%),43.9%) !important;
	  --text-link-low-saturation: hsl(212,calc(var(--saturation-factor, 1)*100%),43.9%) !important;
	  --text-positive: hsl(139,calc(var(--saturation-factor, 1)*47.1%),33.3%) !important;
	  --text-warning: hsl(38,calc(var(--saturation-factor, 1)*81.5%),31.8%) !important;
	  --text-danger: hsl(359,calc(var(--saturation-factor, 1)*56.3%),40.4%) !important;
	  --text-brand: hsl(235,calc(var(--saturation-factor, 1)*85.6%),64.7%) !important;
	  --interactive-normal: #4f5660 !important;
	  --interactive-hover: #2e3338 !important;
	  --interactive-active: #060607 !important;
	  --interactive-muted: #c7ccd1 !important;
	  --background-primary: #fdf6e3 !important;
	  --background-secondary: #ede6d3 !important;
	  --background-secondary-alt: #fdf6e3 !important;
	  --background-tertiary: #fdf6e3 !important;
	  --background-accent: #6a7480 !important;
	  --background-floating: #fff !important;
	  --background-nested-floating: #fff !important;
	  --background-mobile-primary: #f8f9f9 !important;
	  --background-mobile-secondary: #fff !important;
	  --chat-background: #fff !important;
	  --chat-border: #dcddde !important;
	  --chat-input-container-background: #fff !important;
	  --background-modifier-hover: rgba(106,116,128,0.16) !important;
	  --background-modifier-active: rgba(106,116,128,0.2) !important;
	  --background-modifier-selected: rgba(106,116,128,0.24) !important;
	  --background-modifier-accent: rgba(106,116,128,0.24) !important;
	  --info-positive-background: hsla(139,calc(var(--saturation-factor, 1)*47.4%),38%,0.05) !important;
	  --info-positive-foreground: hsl(139,calc(var(--saturation-factor, 1)*47.4%),38%) !important;
	  --info-positive-text: #000 !important;
	  --info-warning-background: hsla(38,calc(var(--saturation-factor, 1)*80.9%),36.9%,0.1) !important;
	  --info-warning-foreground: hsl(38,calc(var(--saturation-factor, 1)*80.9%),36.9%) !important;
	  --info-warning-text: #000 !important;
	  --info-danger-background: hsla(359,calc(var(--saturation-factor, 1)*66.7%),54.1%,0.1) !important;
	  --info-danger-foreground: hsl(359,calc(var(--saturation-factor, 1)*66.7%),54.1%) !important;
	  --info-danger-text: #000 !important;
	  --info-help-background: hsla(212,calc(var(--saturation-factor, 1)*100%),43.9%,0.1) !important;
	  --info-help-foreground: hsl(212,calc(var(--saturation-factor, 1)*100%),43.9%) !important;
	  --info-help-text: #000 !important;
	  --status-positive-background: hsl(139,calc(var(--saturation-factor, 1)*47.1%),33.3%) !important;
	  --status-positive-text: #fff !important;
	  --status-warning-background: hsl(38,calc(var(--saturation-factor, 1)*80.9%),36.9%) !important;
	  --status-warning-text: #fff !important;
	  --status-danger-background: hsl(359,calc(var(--saturation-factor, 1)*66.7%),54.1%) !important;
	  --status-danger-text: #fff !important;
	  --status-danger: hsl(359,calc(var(--saturation-factor, 1)*66.7%),54.1%) !important;
	  --status-positive: hsl(139,calc(var(--saturation-factor, 1)*47.4%),38%) !important;
	  --status-warning: hsl(38,calc(var(--saturation-factor, 1)*80.9%),36.9%) !important;
	  --button-danger-background: hsl(359,calc(var(--saturation-factor, 1)*66.7%),54.1%) !important;
	  --button-danger-background-hover: hsl(359,calc(var(--saturation-factor, 1)*56.3%),40.4%) !important;
	  --button-danger-background-active: hsl(359,calc(var(--saturation-factor, 1)*56.4%),35.1%) !important;
	  --button-danger-background-disabled: hsl(359,calc(var(--saturation-factor, 1)*66.7%),54.1%) !important;
	  --button-positive-background: hsl(139,calc(var(--saturation-factor, 1)*47.1%),33.3%) !important;
	  --button-positive-background-hover: hsl(138,calc(var(--saturation-factor, 1)*46.8%),24.3%) !important;
	  --button-positive-background-active: hsl(138,calc(var(--saturation-factor, 1)*46.9%),22.2%) !important;
	  --button-positive-background-disabled: hsl(139,calc(var(--saturation-factor, 1)*47.1%),33.3%) !important;
	  --button-secondary-background: #6a7480 !important;
	  --button-secondary-background-hover: #4f5660 !important;
	  --button-secondary-background-active: #444b53 !important;
	  --button-secondary-background-disabled: #6a7480 !important;
	  --button-outline-danger-text: #000 !important;
	  --button-outline-danger-border: hsl(359,calc(var(--saturation-factor, 1)*66.7%),54.1%) !important;
	  --button-outline-danger-background: hsla(0,0%,100%,0) !important;
	  --button-outline-danger-background-hover: hsl(359,calc(var(--saturation-factor, 1)*66.7%),54.1%) !important;
	  --button-outline-danger-text-hover: #fff !important;
	  --button-outline-danger-border-hover: hsl(359,calc(var(--saturation-factor, 1)*66.7%),54.1%) !important;
	  --button-outline-danger-background-active: hsl(359,calc(var(--saturation-factor, 1)*56.7%),48%) !important;
	  --button-outline-danger-text-active: #fff !important;
	  --button-outline-danger-border-active: hsl(359,calc(var(--saturation-factor, 1)*66.7%),54.1%) !important;
	  --button-outline-positive-text: #000 !important;
	  --button-outline-positive-border: hsl(139,calc(var(--saturation-factor, 1)*47.4%),38%) !important;
	  --button-outline-positive-background: hsla(0,0%,100%,0) !important;
	  --button-outline-positive-background-hover: hsl(139,calc(var(--saturation-factor, 1)*47.1%),33.3%) !important;
	  --button-outline-positive-text-hover: #fff !important;
	  --button-outline-positive-border-hover: hsl(139,calc(var(--saturation-factor, 1)*47.1%),33.3%) !important;
	  --button-outline-positive-background-active: hsl(138,calc(var(--saturation-factor, 1)*46.8%),24.3%) !important;
	  --button-outline-positive-text-active: #fff !important;
	  --button-outline-positive-border-active: hsl(138,calc(var(--saturation-factor, 1)*46.8%),24.3%) !important;
	  --button-outline-brand-text: #000 !important;
	  --button-outline-brand-border: hsl(235,calc(var(--saturation-factor, 1)*85.6%),64.7%) !important;
	  --button-outline-brand-background: hsla(0,0%,100%,0) !important;
	  --button-outline-brand-background-hover: hsl(235,calc(var(--saturation-factor, 1)*85.6%),64.7%) !important;
	  --button-outline-brand-text-hover: #fff !important;
	  --button-outline-brand-border-hover: hsl(235,calc(var(--saturation-factor, 1)*85.6%),64.7%) !important;
	  --button-outline-brand-background-active: hsl(235,calc(var(--saturation-factor, 1)*51.4%),52.4%) !important;
	  --button-outline-brand-text-active: #fff !important;
	  --button-outline-brand-border-active: hsl(235,calc(var(--saturation-factor, 1)*51.4%),52.4%) !important;
	  --button-outline-primary-text: #000 !important;
	  --button-outline-primary-border: #6a7480 !important;
	  --button-outline-primary-background: hsla(0,0%,100%,0) !important;
	  --button-outline-primary-background-hover: #6a7480 !important;
	  --button-outline-primary-text-hover: #fff !important;
	  --button-outline-primary-border-hover: #6a7480 !important;
	  --button-outline-primary-background-active: #4f5660 !important;
	  --button-outline-primary-text-active: #fff !important;
	  --button-outline-primary-border-active: #4f5660 !important;
	  --modal-background: #000 !important;
	  --modal-footer-background: #f2f3f5 !important;
	  --scrollbar-thin-thumb: rgba(79,84,92,0.3) !important;
	  --scrollbar-thin-track: transparent !important;
	  --scrollbar-auto-thumb: #ccc !important;
	  --scrollbar-auto-track: #f2f2f2 !important;
	  --scrollbar-auto-scrollbar-color-thumb: #e3e5e8 !important;
	  --scrollbar-auto-scrollbar-color-track: #f2f3f5 !important;
	  --input-background: #e3e5e8 !important;
	  --input-placeholder-text: #5e6772 !important;
	  --elevation-stroke: 0 0 0 1px rgba(6,6,7,0.08) !important;
	  --elevation-low: 0 1px 0 rgba(6,6,7,0.1),0 1.5px 0 rgba(6,6,7,0.025),0 2px 0 rgba(6,6,7,0.025) !important;
	  --elevation-medium: 0 4px 4px rgba(0,0,0,0.08) !important;
	  --elevation-high: 0 8px 16px rgba(0,0,0,0.16) !important;
	  --logo-primary: hsl(235,calc(var(--saturation-factor, 1)*85.6%),64.7%) !important;
	  --control-brand-foreground: hsl(235,calc(var(--saturation-factor, 1)*85.6%),64.7%) !important;
	  --control-brand-foreground-new: hsl(235,calc(var(--saturation-factor, 1)*85.6%),64.7%) !important;
	  --background-mentioned: hsla(38,calc(var(--saturation-factor, 1)*95.7%),54.1%,0.1) !important;
	  --background-mentioned-hover: hsla(38,calc(var(--saturation-factor, 1)*95.7%),54.1%,0.2) !important;
	  --background-message-hover: rgba(6,6,7,0.02) !important;
	  --background-message-automod: hsla(359,calc(var(--saturation-factor, 1)*82.6%),59.4%,0.05) !important;
	  --background-message-automod-hover: hsla(359,calc(var(--saturation-factor, 1)*82.6%),59.4%,0.1) !important;
	  --channels-default: #5e6772 !important;
	  --channel-icon: #6a7480 !important;
	  --channel-text-area-placeholder: #747f8d !important;
	  --guild-header-text-shadow: 0 1px 1px hsla(0,0%,100%,0.4) !important;
	  --channeltextarea-background: #fdf6e3 !important;
	  --activity-card-background: #fff !important;
	  --textbox-markdown-syntax: #6a7480 !important;
	  --spoiler-revealed-background: #ebedef !important;
	  --spoiler-hidden-background: #e3e5e8 !important;
	  --android-navigation-bar-background: #f8f9f9 !important;
	  --deprecated-card-bg: #f8f9f9 !important;
	  --deprecated-card-editable-bg: rgba(246,246,247,0.6) !important;
	  --deprecated-store-bg: #f8f9f9 !important;
	  --deprecated-quickswitcher-input-background: #fff !important;
	  --deprecated-quickswitcher-input-placeholder: rgba(79,84,92,0.3) !important;
	  --deprecated-text-input-bg: #e3e5e8 !important;
	  --deprecated-text-input-border: rgba(79,84,92,0.3) !important;
	  --deprecated-text-input-border-hover: #b9bbbe !important;
	  --deprecated-text-input-border-disabled: #dcddde !important;
	  --deprecated-text-input-prefix: #b9bbbe !important;
	}
	
	.channelTextArea-1FufC0 {
		border: 1px solid black !important;
	}
	.chatContent-3KubbW {
	  border: 1px solid black !important;
	  border-bottom: 0px !important;
	}
	.peopleColumn-1wMU14 {
		background-color: #fdf6e3 !important;;
	}
}
