@define-color fg		rgba(73, 82, 67, 1.0);
@define-color bg		rgba(255, 255, 255, 0.70);
@define-color border	rgba(181, 217, 156, 1.0);

* {
  all: unset;
  font-family: "Inter";
  font-weight: 600;
  transition: 0.3s;
  font-size: 14px;
}

.floating-notifications.background .notification-row {
  padding: 1.5rem;
}

.floating-notifications.background .notification-row .notification-background {
  border-radius: 7px;
  background-color: @bg;
  color: @fg;
  border: 2px solid @fg;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification {
  padding: 0.5rem;
  border-radius: 7px;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification.critical {
  border: 2px solid @fg;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  .notification-content
  .summary {
  margin: 0.2rem 0.2rem 0.2rem 1.0rem;
  color: @fg;
  font-weight: 900;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  .notification-content
  .body {
  margin: 0.2rem 0.2rem 0.2rem 1.0rem;
  font-style: italic;
  color: @fg;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > * {
  min-height: 3rem;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action {
  border-radius: 7px;
  color: @fg;
  background-color: @bg;
  border: 2px solid @fg;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action:hover {
  background-color: @bg;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action:active {
  background-color: @bg;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .close-button {
  margin: 0.5rem;
  padding: 0.25rem;
  border-radius: 7px;
  border-color: @fg;
  color: @fg;
  background-color: @bg;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .close-button:hover {
  color: @bg;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .close-button:active {
  background-color: @bg;
}

.control-center {
  border-radius: 7px;
  margin: 1rem;
  background-color: @bg;
  color: @fg;
  padding: 1rem;
  border: 2px solid @fg;
}

.control-center .widget-title {
  color: @fg;
  font-weight: bold;
}

.control-center .widget-title button {
  border-radius: 7px;
  color: @fg;
  background-color: @bg;
  border: 2px solid @fg;
  padding: 0.5rem;
}

.control-center .widget-title button:hover {
  background-color: @bg;
}

.control-center .widget-title button:active {
  background-color: @bg;
}

.control-center .notification-row .notification-background {
  border-radius: 7px;
  margin: 1px 0;
  background-color: @bg;
  color: @fg;
  border: 2px solid @fg;
}

.control-center .notification-row .notification-background .notification {
  padding: 0.5rem;
  border-radius: 7px;
}

.control-center
  .notification-row
  .notification-background
  .notification.critical {
  border: 2px solid @fg;
}

.control-center
  .notification-row
  .notification-background
  .notification
  .notification-content {
  color: @fg;
  margin-top: 5px;
}

.control-center
  .notification-row
  .notification-background
  .notification
  .notification-content
  .summary {
  margin: 0rem 1.0rem;
  color: @fg;
  font-weight: 900;
}

.control-center
  .notification-row
  .notification-background
  .notification
  .notification-content
  .body {
  margin: 0.25rem 1.0rem;
  color: @fg;
  font-style: italic;
}

.control-center image {
}

.control-center
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > * {
  min-height: 3rem;
}

.control-center
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action {
  border-radius: 7px;
  color: @fg;
  background-color: @bg;
  border: 2px solid @fg;
}

.control-center
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action:hover {
  background-color: @bg;
}

.control-center
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action:active {
  background-color: @bg;
}

.control-center .notification-row .notification-background .close-button {
  margin: 0.5rem;
  padding: 0.25rem;
  border-radius: 7px;
  color: @fg;
  background-color: @bg;
  border-color: @border;
}

.control-center .notification-row .notification-background .close-button:hover {
  color: @border;
}

.control-center
  .notification-row
  .notification-background
  .close-button:active {
  background-color: transparent;
}

progressbar,
progress,
trough {
  border-radius: 7px;
}

.notification.critical progress {
  background-color: @bg;
}

.notification.low progress,
.notification.normal progress {
  background-color: @bg;
}

trough {
  background-color: @bg;
}

.control-center trough {
  background-color: @bg;
}

.control-center-dnd {
  margin: 1rem 0;
  border-radius: 7px;
}

.control-center-dnd slider {
  background: @bg;
  border-radius: 7px;
}

.widget-dnd {
  color: @border;
}

.widget-dnd > switch {
  border-radius: 7px;
  background: @bg;
  border: 2px solid @bg;
}

.widget-dnd > switch:checked slider {
  background: @bg;
}

.widget-dnd > switch slider {
  background: @bg;
  border-radius: 7px;
  margin: 0.25rem;
}
