# /etc/systemd/system/kb-light.service

[Unit]
Description=Set keyboard backlight
After=suspend.target

[Service]
Type=oneshot
ExecStart=/bin/bash /usr/share/kb-light.sh
RemainAfterExit=false

[Install]
WantedBy=suspend.target
