* {
  all: unset;
  font-family: "Lotion";
  transition: 0.3s;
  font-size: 1.1rem;
}

.floating-notifications.background .notification-row {
  padding: 2.0rem;
}

.floating-notifications.background .notification-row .notification-background {
  border-radius: 0.3rem;
  background-color: #f0f0f0;
  color: #193668;
  border: 1px solid #193668;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification {
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification.critical {
  border: 1px solid #9f9f9f;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  .notification-content
  .summary {
  margin: 0.5rem;
  color: #000000;
  font-weight: bold;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  .notification-content
  .body {
  margin: 0.5rem;
  color: #000000;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > * {
  min-height: 3rem;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action {
  border-radius: 0.5rem;
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #9f9f9f;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action:hover {
  background-color: #ffffff;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action:active {
  background-color: #ffffff;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .close-button {
  margin: 0.5rem;
  padding: 0.25rem;
  border-radius: 0.5rem;
  border-color: #9f9f9f;
  color: #000000;
  background-color: #ffffff;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .close-button:hover {
  color: #ffffff;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .close-button:active {
  background-color: #ffffff;
}

.control-center {
  border-radius: 0.5rem;
  margin: 1rem;
  background-color: #ffffff;
  color: #000000;
  padding: 1rem;
  border: 1px solid #9f9f9f;
}

.control-center .widget-title {
  color: #000000;
  font-weight: bold;
}

.control-center .widget-title button {
  border-radius: 0.5rem;
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #9f9f9f;
  padding: 0.5rem;
}

.control-center .widget-title button:hover {
  background-color: #ffffff;
}

.control-center .widget-title button:active {
  background-color: #ffffff;
}

.control-center .notification-row .notification-background {
  border-radius: 0.5rem;
  margin: 0.5rem 0;
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #9f9f9f;
}

.control-center .notification-row .notification-background .notification {
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.control-center
  .notification-row
  .notification-background
  .notification.critical {
  border: 1px solid #9f9f9f;
}

.control-center
  .notification-row
  .notification-background
  .notification
  .notification-content {
  color: #000000;
}

.control-center
  .notification-row
  .notification-background
  .notification
  .notification-content
  .summary {
  margin: 0.5rem;
  color: #000000;
  font-weight: bold;
}

.control-center
  .notification-row
  .notification-background
  .notification
  .notification-content
  .body {
  margin: 0.5rem;
  color: #000000;
}

.control-center
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > * {
  min-height: 3rem;
}

.control-center
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action {
  border-radius: 0.5rem;
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #9f9f9f;
}

.control-center
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action:hover {
  background-color: #ffffff;
}

.control-center
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action:active {
  background-color: #ffffff;
}

.control-center .notification-row .notification-background .close-button {
  margin: 0.5rem;
  padding: 0.25rem;
  border-radius: 0.5rem;
  color: #000000;
  background-color: #ffffff;
  border-color: #9f9f9f;
}

.control-center .notification-row .notification-background .close-button:hover {
  color: #ffffff;
}

.control-center
  .notification-row
  .notification-background
  .close-button:active {
  background-color: #ffffff;
}

progressbar,
progress,
trough {
  border-radius: 0.5rem;
}

.notification.critical progress {
  background-color: #ffffff;
}

.notification.low progress,
.notification.normal progress {
  background-color: #ffffff;
}

trough {
  background-color: #ffffff;
}

.control-center trough {
  background-color: #ffffff;
}

.control-center-dnd {
  margin: 1rem 0;
  border-radius: 0.5rem;
}

.control-center-dnd slider {
  background: #ffffff;
  border-radius: 0.5rem;
}

.widget-dnd {
  color: #908caa;
}

.widget-dnd > switch {
  border-radius: 0.5rem;
  background: #ffffff;
  border: 1px solid #ffffff;
}

.widget-dnd > switch:checked slider {
  background: #ffffff;
}

.widget-dnd > switch slider {
  background: #ffffff;
  border-radius: 0.5rem;
  margin: 0.25rem;
}
