/*
:root {
  --base: #191724;
  --surface: #1f1d2e;
  --overlay: #26233a;
  --muted: #6e6a86;
  --subtle: #908caa;
  --text: #e0def4;
  --love: #eb6f92;
  --gold: #f6c177;
  --rose: #ebbcba;
  --pine: #31748f;
  --foam: #9ccfd8;
  --iris: #c4a7e7;
  --highlightLow: #21202e;
  --highlightMed: #403d52;
  --highlightHigh: #524f67;
}
*/
/* Rose-Pine Dawn (light) */
@define-color background-primary  #faf4ed;
@define-color background-secondary  #fffaf3;
@define-color background-secondary-alt  #f2e9de;
@define-color channeltextarea-background  #f2e9de;
@define-color background-tertiary  #f2e9de;
@define-color background-accent  #d7827e;
@define-color text-normal  #575279;
@define-color text-spotify  #575279;
@define-color text-muted  #6e6a86;
@define-color text-link  #286983;
@define-color background-floating  #f2e9de;
@define-color header-primary  #575279;
@define-color header-secondary  #575279;
@define-color header-spotify  #56949f;
@define-color interactive-normal  #575279;
@define-color interactive-hover  #6e6a86;
@define-color interactive-active  #575279;

* {
  all: unset;
  font-family: FiraCode Nerd Font;
  transition: 0.3s;
  font-size: 1.2rem;
}

.floating-notifications.background .notification-row {
  padding: 1rem;
}

.floating-notifications.background .notification-row .notification-background {
  border-radius: 0.5rem;
  background-color: @background-primary;
  color: @text-normal;
  border: 1px solid @background-accent;
  margin-top: 20px;
  margin-right: 20px;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification {
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification.critical {
  border: 1px solid @background-accent;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  .notification-content
  .summary {
  margin: 0.5rem;
  color: @text-normal;
  font-weight: bold;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  .notification-content
  .body {
  margin: 0.5rem;
  color: @text-normal;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > * {
  min-height: 3rem;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action {
  border-radius: 0.5rem;
  color: @text-normal;
  background-color: @background-primary;
  border: 1px solid @background-accent;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action:hover {
  background-color: @background-primary;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action:active {
  background-color: @background-primary;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .close-button {
  margin: 0.5rem;
  padding: 0.25rem;
  border-radius: 0.5rem;
  color: @text-normal;
  background-color: @background-primary;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .close-button:hover {
  color: @text-normal;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .close-button:active {
  background-color: @background-primary;
}

.control-center {
  border-radius: 0.5rem;
  margin: 1rem;
  background-color: @background-primary;
  color: @text-normal;
  padding: 1rem;
  border: 1px solid @background-accent;
}

.control-center .widget-title {
  color: @text-normal;
  font-weight: bold;
}

.control-center .widget-title button {
  border-radius: 0.5rem;
  color: @text-normal;
  background-color: @background-primary;
  border: 1px solid @background-accent;
  padding: 0.5rem;
}

.control-center .widget-title button:hover {
  background-color: @background-primary;
}

.control-center .widget-title button:active {
  background-color: @background-primary;
}

.control-center .notification-row .notification-background {
  border-radius: 0.5rem;
  margin: 0.5rem 0;
  background-color: @background-primary;
  color: @text-normal;
  border: 1px solid @background-accent;
}

.control-center .notification-row .notification-background .notification {
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.control-center
  .notification-row
  .notification-background
  .notification.critical {
  border: 1px solid @background-accent;
}

.control-center
  .notification-row
  .notification-background
  .notification
  .notification-content {
  color: @text-normal;
}

.control-center
  .notification-row
  .notification-background
  .notification
  .notification-content
  .summary {
  margin: 0.5rem;
  color: @text-normal;
  font-weight: bold;
}

.control-center
  .notification-row
  .notification-background
  .notification
  .notification-content
  .body {
  margin: 0.5rem;
  color: @text-normal;
}

.control-center
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > * {
  min-height: 3rem;
}

.control-center
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action {
  border-radius: 0.5rem;
  color: @text-normal;
  background-color: @background-primary;
  border: 1px solid @background-accent;
}

.control-center
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action:hover {
  background-color: @background-primary;
}

.control-center
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action:active {
  background-color: @background-primary;
}

.control-center .notification-row .notification-background .close-button {
  margin: 0.5rem;
  padding: 0.25rem;
  border-radius: 0.5rem;
  color: @text-normal;
  background-color: @background-primary;
}

.control-center .notification-row .notification-background .close-button:hover {
  color: @text-normal;
}

.control-center
  .notification-row
  .notification-background
  .close-button:active {
  background-color: @background-primary;
}

progressbar,
progress,
trough {
  border-radius: 0.5rem;
}

.notification.critical progress {
  background-color: @background-primary;
}

.notification.low progress,
.notification.normal progress {
  background-color: @background-primary;
}

trough {
  background-color: @background-primary;
}

.control-center trough {
  background-color: @background-primary;
}

.control-center-dnd {
  margin: 1rem 0;
  border-radius: 0.5rem;
}

.control-center-dnd slider {
  background-color: @background-primary;
  border-radius: 0.5rem;
}

.widget-dnd {
  color: @text-normal;
}

.widget-dnd > switch {
  border-radius: 0.5rem;
  background: @background-primary;
  border: 1px solid @background-accent;
}

.widget-dnd > switch:checked slider {
  background: @background-primary;
}

.widget-dnd > switch slider {
  background: @background-primary;
  border-radius: 0.5rem;
  margin: 0.25rem;
}
