urxvt.perl-ext-common: default,tabbed,matcher,resize-font,-tabbed

URxvt.backgroundPixmap: /home/sven/.urxvt/urxvtpixmap2.png;style=tiled
URxvt.lineSpace: 0
URxvt.internalBorder: 15
URxvt.scrollBar: false
URxvt.font: xft:azuki_font:pixelsize=17
URxvt.boldFont: xft:azukifontB:style=bold:pixelsize=17
URxvt.intensityStyles: false

*termName: xterm-256color
*internalBorder: 6

! special
*.foreground:   #a61103
*.background:   #151515
*.cursorColor:  #6a04b5

! black
*.color0:       #1a1313
*.color8:       #332626

! red
*.color1:       #590202
*.color9:       #a61103

! green
*.color2:       #01f591
*.color10:      #1f591f

! yellow
*.color3:       #856a32
*.color11:      #d6ab51

! blue
*.color4:       #4607a3
*.color12:      #100126

! magenta
*.color5:       #6e04b5
*.color13:      #6e04b5

! cyan
*.color6:       #2c5a6e
*.color14:      #5ab4db

! white
*.color7:       #524747
*.color15:      #918787
