// This config is in the KDL format: https://kdl.dev
// "/-" comments out the following node.
// Check the wiki for a full description of the configuration:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Overview

// Input device configuration.
// Find the full list of options on the wiki:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Input
input {
    keyboard {
        xkb {
            // You can set rules, model, layout, variant and options.
            // For more information, see xkeyboard-config(7).

            // For example:
            // layout "us,ru"
            // options "grp:win_space_toggle,compose:ralt,ctrl:nocaps"
        }
    }
    mouse {
        // natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
    }

    // Uncomment this to make the mouse warp to the center of newly focused windows.
    // warp-mouse-to-focus

    // Focus windows and outputs automatically when moving the mouse into them.
    focus-follows-mouse
}

// You can configure outputs by their name, which you can find
// by running `niri msg outputs` while inside a niri instance.
// The built-in laptop monitor is usually called "eDP-1".
// Find more information on the wiki:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Outputs
// Remember to uncomment the node by removing "/-"!
output "DP-4" {
    mode "2560x1440@119.998"
    scale 1.0
    transform "normal"
    position x=0 y=1440
}
output "DP-3" {
    mode "2560x1440@119.998"
    scale 1.0
    transform "normal"
    position x=0 y=0
}

// Settings that influence how windows are positioned and sized.
// Find more information on the wiki:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Layout
layout {
    // Set gaps around windows in logical pixels.
    gaps 16

    // When to center a column when changing focus, options are:
    // - "never", default behavior, focusing an off-screen column will keep at the left
    //   or right edge of the screen.
    // - "always", the focused column will always be centered.
    // - "on-overflow", focusing a column will center it if it doesn't fit
    //   together with the previously focused column.
    center-focused-column "never"

    // You can customize the widths that "switch-preset-column-width" (Alt+R) toggles between.
    preset-column-widths {
        // Proportion sets the width as a fraction of the output width, taking gaps into account.
        // For example, you can perfectly fit four windows sized "proportion 0.25" on an output.
        // The default preset widths are 1/3, 1/2 and 2/3 of the output.
        proportion 0.33333
        proportion 0.5
        proportion 0.66667

        // Fixed sets the width in logical pixels exactly.
        // fixed 1920
    }

    // You can change the default width of the new windows.
    default-column-width { proportion 0.5; }
    // If you leave the brackets empty, the windows themselves will decide their initial width.
    // default-column-width {}

    // By default focus ring and border are rendered as a solid background rectangle
    // behind windows. That is, they will show up through semitransparent windows.
    // This is because windows using client-side decorations can have an arbitrary shape.
    //
    // If you don't like that, you should uncomment `prefer-no-csd` below.
    // Niri will draw focus ring and border *around* windows that agree to omit their
    // client-side decorations.
    //
    // Alternatively, you can override it with a window rule called
    // `draw-border-with-background`.

    // You can change how the focus ring looks.
    focus-ring {
        // Uncomment this line to disable the focus ring.
        // off

        // How many logical pixels the ring extends out from the windows.
        width 4

        // Colors can be set in a variety of ways:
        // - CSS named colors: "red"
        // - RGB hex: "#rgb", "#rgba", "#rrggbb", "#rrggbbaa"
        // - CSS-like notation: "rgb(255, 127, 0)", rgba(), hsl() and a few others.

        // Color of the ring on the active monitor.
        active-color "#7fc8ff"

        // Color of the ring on inactive monitors.
        inactive-color "#505050"

        // You can also use gradients. They take precedence over solid colors.
        // Gradients are rendered the same as CSS linear-gradient(angle, from, to).
        // The angle is the same as in linear-gradient, and is optional,
        // defaulting to 180 (top-to-bottom gradient).
        // You can use any CSS linear-gradient tool on the web to set these up.
        //
        // active-gradient from="#80c8ff" to="#bbddff" angle=45

        // You can also color the gradient relative to the entire view
        // of the workspace, rather than relative to just the window itself.
        // To do that, set relative-to="workspace-view".
        //
        // inactive-gradient from="#505050" to="#808080" angle=45 relative-to="workspace-view"
    }

    // You can also add a border. It's similar to the focus ring, but always visible.
    border {
        // The settings are the same as for the focus ring.
        // If you enable the border, you probably want to disable the focus ring.
        off

        width 4
        active-color "#ffc87f"
        inactive-color "#505050"

        // active-gradient from="#ffbb66" to="#ffc880" angle=45 relative-to="workspace-view"
        // inactive-gradient from="#505050" to="#808080" angle=45 relative-to="workspace-view"
    }

    // Struts shrink the area occupied by windows, similarly to layer-shell panels.
    // You can think of them as a kind of outer gaps. They are set in logical pixels.
    // Left and right struts will cause the next window to the side to always be visible.
    // Top and bottom struts will simply add outer gaps in addition to the area occupied by
    // layer-shell panels and regular gaps.
    struts {
        // left 64
        // right 64
        // top 64
        // bottom 64
    }
}

//
// Startup applications
//
spawn-at-startup "swaybg" "-i" "/home/sven/Pictures/Wallpapers/pokemon/pikachu_2_everforest-light.png"
spawn-at-startup "waybar"
spawn-at-startup "swaync"

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

window-rule {
	geometry-corner-radius 0
	clip-to-geometry true
	focus-ring {
		on
		width 2
		// active-color "#93b259"
	}
	border {
		on
		width 1
		// active-color "#93b259"
		// inactive-color "#708089"
	}
}
window-rule {
    match title="Firefox"
    default-column-width { proportion 0.70; }
}
window-rule {
    match title="kitty"
    default-column-width { proportion 0.30; }
}

// Example: block out two password managers from screen capture.
// (This example rule is commented out with a "/-" in front.)
/-window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#

    block-out-from "screen-capture"

    // Use this instead if you want them visible on third-party screenshot tools.
    // block-out-from "screencast"
}

binds {
    Alt+Shift+Slash { show-hotkey-overlay; }
    Alt+Return { spawn "kitty"; }
    Alt+D { spawn "fuzzel"; }
    Ctrl+Super+L { spawn "swaylock"; }
	Super+1 { spawn "firefox"; }
	Alt+Shift+n { spawn "swaync-client" "-t"; }

	//
	// Audio
	//
    XF86AudioRaiseVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1+"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1-"; }
    XF86AudioMute        allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"; }

	//
	// Window management
	//
    Alt+Shift+Q { close-window; }

    Alt+Left  { focus-column-left; }
    Alt+Down  { focus-window-down; }
    Alt+Up    { focus-window-up; }
    Alt+Right { focus-column-right; }
    Alt+H     { focus-column-left; }
    Alt+J     { focus-window-down; }
    Alt+K     { focus-window-up; }
    Alt+L     { focus-column-right; }

    Alt+Shift+Left  { move-column-left; }
    Alt+Shift+Down  { move-window-down; }
    Alt+Shift+Up    { move-window-up; }
    Alt+Shift+Right { move-column-right; }
    Alt+Shift+H     { move-column-left; }
    Alt+Shift+J     { move-window-down; }
    Alt+Shift+K     { move-window-up; }
    Alt+Shift+L     { move-column-right; }

    // Alternative commands that move across workspaces when reaching
    // the first or last window in a column.
    // Alt+J     { focus-window-or-workspace-down; }
    // Alt+K     { focus-window-or-workspace-up; }
    // Alt+Ctrl+J     { move-window-down-or-to-workspace-down; }
    // Alt+Ctrl+K     { move-window-up-or-to-workspace-up; }

    Alt+Home { focus-column-first; }
    Alt+End  { focus-column-last; }
    Alt+Ctrl+Home { move-column-to-first; }
    Alt+Ctrl+End  { move-column-to-last; }

    Super+Left  { focus-monitor-left; }
    Super+Down  { focus-monitor-down; }
    Super+Up    { focus-monitor-up; }
    Super+Right { focus-monitor-right; }
    Super+H     { focus-monitor-left; }
    Super+J     { focus-monitor-down; }
    Super+K     { focus-monitor-up; }
    Super+L     { focus-monitor-right; }

    Super+Shift+Left  { move-column-to-monitor-left; }
    Super+Shift+Down  { move-column-to-monitor-down; }
    Super+Shift+Up    { move-column-to-monitor-up; }
    Super+Shift+Right { move-column-to-monitor-right; }
    Super+Shift+H     { move-column-to-monitor-left; }
    Super+Shift+J     { move-column-to-monitor-down; }
    Super+Shift+K     { move-column-to-monitor-up; }
    Super+Shift+L     { move-column-to-monitor-right; }

    Alt+Page_Down      { focus-workspace-down; }
    Alt+Page_Up        { focus-workspace-up; }
    Alt+U              { focus-workspace-down; }
    Alt+I              { focus-workspace-up; }
    Alt+Ctrl+Page_Down { move-column-to-workspace-down; }
    Alt+Ctrl+Page_Up   { move-column-to-workspace-up; }
    Alt+Ctrl+U         { move-column-to-workspace-down; }
    Alt+Ctrl+I         { move-column-to-workspace-up; }

    Alt+Shift+Page_Down { move-workspace-down; }
    Alt+Shift+Page_Up   { move-workspace-up; }
    Alt+Shift+U         { move-workspace-down; }
    Alt+Shift+I         { move-workspace-up; }

    // Alt+WheelScrollDown      cooldown-ms=150 { focus-workspace-down; }
    // Alt+WheelScrollUp        cooldown-ms=150 { focus-workspace-up; }
    Alt+Ctrl+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
    Alt+Ctrl+WheelScrollUp   cooldown-ms=150 { move-column-to-workspace-up; }

    // Alt+WheelScrollRight      { focus-column-right; }
    // Alt+WheelScrollLeft       { focus-column-left; }
    Alt+WheelScrollDown			{ focus-column-right; }
    Alt+WheelScrollUp			{ focus-column-left; }
    Alt+Shift+WheelScrollDown	{ move-column-right; }
    Alt+Shift+WheelScrollUp  	{ move-column-left; }

    // Alt+Shift+WheelScrollDown      { focus-column-right; }
    // Alt+Shift+WheelScrollUp        { focus-column-left; }
    // Alt+Ctrl+Shift+WheelScrollDown { move-column-right; }
    // Alt+Ctrl+Shift+WheelScrollUp   { move-column-left; }

    Alt+1 { focus-workspace 1; }
    Alt+2 { focus-workspace 2; }
    Alt+3 { focus-workspace 3; }
    Alt+4 { focus-workspace 4; }
    Alt+5 { focus-workspace 5; }
    Alt+6 { focus-workspace 6; }
    Alt+7 { focus-workspace 7; }
    Alt+8 { focus-workspace 8; }
    Alt+9 { focus-workspace 9; }
    Alt+Shift+1 { move-column-to-workspace 1; }
    Alt+Shift+2 { move-column-to-workspace 2; }
    Alt+Shift+3 { move-column-to-workspace 3; }
    Alt+Shift+4 { move-column-to-workspace 4; }
    Alt+Shift+5 { move-column-to-workspace 5; }
    Alt+Shift+6 { move-column-to-workspace 6; }
    Alt+Shift+7 { move-column-to-workspace 7; }
    Alt+Shift+8 { move-column-to-workspace 8; }
    Alt+Shift+9 { move-column-to-workspace 9; }

	//
	// Consuming, Expelling
	//
    Alt+C { center-column; }
    Alt+Comma  { consume-or-expel-window-left; }
    Alt+Period { consume-or-expel-window-right; }
    // Alt+Comma  { consume-window-into-column; }
    // Alt+Period { expel-window-from-column; }
    // Alt+BracketLeft  { consume-or-expel-window-left; }
    // Alt+BracketRight { consume-or-expel-window-right; }

	//
	// Resizing
	//
    Alt+F { maximize-column; }
    Alt+Shift+F { fullscreen-window; }
    Alt+Minus { set-column-width "-10%"; }
    Alt+Equal { set-column-width "+10%"; }
    Alt+Shift+Minus { set-window-height "-10%"; }
    Alt+Shift+Equal { set-window-height "+10%"; }
    // Alt+R { switch-preset-column-width; }
    // Alt+Shift+R { reset-window-height; }

	//
	// Screenshotting
	//
    Print { screenshot; }
    Shift+Print { screenshot-screen; }
    Super+Print { screenshot-window; }

    // The quit action will show a confirmation dialog to avoid accidental exits.
    Alt+Shift+E { quit; }
}
