@import "./modus-operandi.css";

* {
	font-family: "Google Sans Code";
	font-weight: 900;
	font-size: 12px;
}

window#waybar {
	background-color: alpha(#ffffff, 0.999);
	border-radius: 7px 7px 7px 7px;
	border-width: 3px 3px 3px 3px;
	border-style: solid;
	border-color: #0031a9;
	color: @fg;
}

tooltip label {
	font-family: "Comic Neue";
	font-weight: normal;
	color: #000;
}
tooltip {
	background-color: @bg0;
	border: 1px solid @fg;
	color: @fg;
}

#workspaces button {
	/* padding: 5px; */
	color: @fg;
}

#workspaces button.active {
	color: @fg;
}

#workspaces button.focused {
	color: #0031a9;
}
#workspaces button.unfocused {
}

#workspaces button.urgent {
	color: @red;
}

#workspaces button:hover {
	color: @orange;
}

#custom-gpu-temp,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#temperature,
#workspaces,
#tray,
#memory,
#backlight {
	padding: 5px 10px;
	border-radius: 10px;
}

#temperature,
#custom-gpu-temp,
#memory,
#network,
#pulseaudio {
	font-size: 10px;
}

#memory {
	color: #0031a9;
}

#bluetooth {
	padding-top: 20px;
	color: #8995ab;
}
#bluetooth.connected {
	color: #0031a9;
}

#temperature {
	color: #0031a9;
}
#custom-gpu-temp {
	color: #0031a9;
}

#temperature.critical {
	color: @red;
}

#backlight {
	color: @aqua;
	border-radius: 10px;
	margin-right: 30px;
}

#tray {
	color: @fg;
	padding-top: 20px;
}

#workspaces {
	border-radius: 10px;
	margin: 0px 0px 50px 0px;
	/* padding: 0px 10px 0px 10px; */
}

#custom-power_profile {
	color: @aqua;
	border-left: 0px;
	border-right: 0px;
}

#window {
	border-radius: 10px;
	margin-left: 60px;
	margin-right: 60px;
}

window#waybar.empty {
	background-color: @bg0;
	border-radius: 10px;
}

window#waybar.empty #window {
	padding: 0px;
	margin: 0px;
	border: 0px;
	/*  background-color: rgba(66,66,66,0.5); */ /* transparent */
	background-color: @bg0;
	border-radius: 10px;
}

#clock {
	padding-top: 25px;
	color: #0031a9;
}

#network {
	color: #0031a9;
}

#pulseaudio {
	color: #0031a9;
	padding-bottom: 40px;
}

#battery {
	color: @blue;
}
#custom-notification {
	color: @aqua;
	background: transparent;
}
