@import "./everforest.css";

* {
	font-family: "Comic Neue";
	font-weight: bold;
	font-size: 14px;
}

window#waybar {
	background-color: @bg0;
	transition-property: background-color;
	border-radius: 0px;
	border-width: 2px;
	border-style: outset;
	border-color: @statusline1;
	color: @fg;
}

tooltip {
	background-color: @bg0;
	border-radius: 4px;
	border-width: 2px;
	border-style: groove;
	border-color: @fg;
}

#workspaces button {
	/* padding: 5px; */
	color: @fg;
}

#workspaces button.active {
	color: @fg;
}

#workspaces button.focused {
	color: @red;
}
#workspaces button.unfocused {
}

#workspaces button.urgent {
	color: @red;
}

#workspaces button:hover {
	color: @orange;
}

#custom-power_profile,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#bluetooth,
#temperature,
#workspaces,
#tray,
#memory,
#backlight {
	padding: 7px 10px;
	border-radius: 10px;
}

#memory {
	color: @green;
}

#bluetooth {
	color: @blue;
}

#temperature {
	color: @orange;
}

#temperature.critical {
	color: @red;
}

#backlight {
	color: @aqua;
	border-radius: 10px;
	margin-right: 30px;
}

#tray {
	color: #000000;
	border-radius: 10px;
	margin-left: 10px;
	margin-right: 0px;
}

#workspaces {
	border-radius: 10px;
	margin: 0px;
	padding: 0px 10px 0px 10px;
}

#custom-power_profile {
	color: @aqua;
	border-left: 0px;
	border-right: 0px;
}

#window {
	border-radius: 10px;
	margin-left: 60px;
	margin-right: 60px;
}

window#waybar.empty {
	background-color: @bg0;
	border-radius: 10px;
}

window#waybar.empty #window {
	padding: 0px;
	margin: 0px;
	border: 0px;
	/*  background-color: rgba(66,66,66,0.5); */ /* transparent */
	background-color: @bg0;
	border-radius: 10px;
}

#clock {
	color: @fg;
}

#network {
	color: @purple;
}

#pulseaudio {
	color: @yellow;
	margin-right: 30px;
}

#battery {
	color: @blue;
	border-radius: 10px;
	margin-right: 10px;
	border-left: 0px;
}
