@import "./everforest.css";

* {
  border: none;
  border-radius: 0;
  font-family: "Geist Mono";
  font-weight: bold;
  font-size: 12px;
  min-height: 0;
}

window#waybar {
  background: rgba(21, 18, 27, 0);
  color: @fg;
}

tooltip {
  background: @bg0;
  border-radius: 4px;
  border-width: 2px;
  border-style: solid;
  border-color: @fg;
}

#workspaces button {
  padding: 5px;
  color: @fg;
  background: @bg0;
  border-color: @fg;
  margin-right: 5px;
}

#workspaces button.active {
  color: @fg;
  background: @bg0;
}

#workspaces button.focused {
  color: @red;
  background: @bg0;
  border-radius: 8px;
}
#workspaces button.unfocused {
	background: @bg0;
}

#workspaces button.urgent {
  border-radius: 8px;
}

#workspaces button:hover {
  background: @bg0;
  color: @orange;
  border-radius: 8px;
}

#custom-power_profile,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#bluetooth,
#temperature,
#workspaces,
#tray,
#memory,
#backlight {
  background: @bg0;
  opacity: 0.9;
  padding: 7px 10px;
  margin-top: 15px;
  margin-bottom: 0px;
  border: 2px solid @fg;
}

#memory {
  color: @green;
  border-radius: 0px 15px 15px 0px;
  border-right: 2px solid @fg;
  border-left: 0px;
}

#bluetooth {
	color: @blue;
}

#temperature {
  color: @orange;
  border-radius: 15px 0px 0px 15px;
  border-left: 2px solid @fg;
  border-right: 0px;
  margin-left: 15px;
}

#temperature.critical {
  color: @red;
  border-radius: 15px 0px 0px 15px;
  border-left: 2px solid @fg;
  border-right: 0px;
}

#backlight {
  color: @aqua;
  border-radius: 0px;
  margin-right: 30px;
}

#tray {
  border-radius: 15px;
  margin-left: 10px;
  margin-right: 0px;
}

#workspaces {
  background: @bg0;
  border-radius: 0px;
  margin-left: 10px;
  padding-right: 0px;
  padding-left: 5px;
}

#custom-power_profile {
  color: @aqua;
  border-left: 0px;
  border-right: 0px;
}

#window {
  border-radius: 0px;
  margin-left: 60px;
  margin-right: 60px;
}

window#waybar.empty {
  background-color: transparent;
}

window#waybar.empty #window {
  padding: 0px;
  margin: 0px;
  border: 0px;
  /*  background-color: rgba(66,66,66,0.5); */ /* transparent */
  background-color: transparent;
}

#clock {
  color: @fg;
  background: @bg0;
  border-radius: 15px;
  margin-left: 0px;
}

#network {
  color: @purple;
  border-radius: 15px 0px 0px 15px;
  border-right: 0px;
}

#pulseaudio {
  color: @yellow;
  border-radius: 0px 15px 15px 0px;
  border-right: 1px solid @fg;
  border-left: 0px;
  margin-right: 30px;
}

#battery {
  color: @blue;
  border-radius: 0px;
  margin-right: 10px;
  border-left: 0px;
}
