[Desktop Entry]
Name=Helium Browser
Exec=/home/sven/.local/bin/helium.AppImage
Icon=/home/sven/.local/share/applications/helium.png
Type=Application
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;application/x-xpinstall;application/pdf;application/json;
StartupWMClass=helium
Categories=Network;WebBrowser;
StartupNotify=true
Terminal=false
X-MultipleArgs=false
Keywords=Internet;WWW;Browser;Web;Explorer;
Actions=new-window;new-private-window;profilemanager;

[Desktop Action new-window]
Name=Open a New Window
Exec=/home/sven/.local/bin/helium.AppImage

[Desktop Action new-private-window]
Name=Open a New Private Window
Exec=/home/sven/.local/bin/helium.AppImage

[Desktop Action profilemanager]
Name=Open the Profile Manager
Exec=/home/sven/.local/bin/helium.AppImage
